<div class="p3 border rounded">
  <ul class="li">
    <div data-component="media-object" class="clearfix">
      <img src="http://placehold.it/128x128" alt="Placeholder image" class="left mr2" />
      <div class="oh">
      <h2 class="h3">{{content.name}}</h2>
        <p>{{content.role}}</p>
      </div>
    </div>
  </ul>
</div>